[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
flask = "*"
requests = "*"
wtforms = "*"
flask_assets = "*"
flask_static_compress = "*"
coremltools = "*"
Flask-Session = "*"

[dev-packages]

[requires]
python_version = "3.7.1"

